@import "tailwindcss";

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  --color-glass: rgba(255, 255, 255, 0.05);
  --color-glass-border-top: rgba(255, 255, 255, 0.25);
  --color-glass-border: rgba(255, 255, 255, 0.15);
}

@layer base {
  body {
    background-color: #0f172a;
    /* slate-900 */
    color: #f8fafc;
    /* slate-50 */
    margin: 0;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}